.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.login-form h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.login-form input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  min-width: 300px;
}

.login-form button {
  padding: 0.7rem;
  background: var(--primary-1, #2e7d32);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.login-form button:hover {
  background: var(--accent-1, #388e3c);
}

.divider{
  border: none !important;
  border-top: 2px solid #ccc !important;
  margin: 0 !important;
  width: 100% !important;
}

.question {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}